---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Project from '../components/Project.astro';
---

<Layout title="Lucas Zhang">
	<main>
		<About />
		<Experience />
		<Project />
	</main>
</Layout>

<style>

</style>
